/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap'); */

@font-face {
  font-family: "DM Sans";
  src: url('../src/files/fonts/DMSans_18pt-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../src/files/fonts/DMSans_18pt-Bold.ttf');
  font-weight: 700;
}

:root {
  --color-text: #FFF;
  --color-main: #191919;
  --color-accent: #118DA8;
  --cards-color: #000;
}

* {
  /* размер учитывается только по width и height,
  не учитываются padding и margin*/
  box-sizing: border-box;
  
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 43px;
  margin-bottom: 83px;
}

body {
  width: 1440px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-main);

  padding: 0 70px;
  margin: 0 auto;
}

.title {
  font-size: 70px;
}

.listen-on {
  font-size: 15px;
  margin-top: 90px;
  margin-bottom: 15px;
  line-height: 24px;
}

.icon {
  margin-right: 17px;
}

.line-between {
  display: flex;
  width: 1300px;
  height: 99px;
  flex-shrink: 0;
  justify-content: space-between;

  margin: 100px 0 40px;
}

.title-two {
  font-size: 64px;
  line-height: 70px;
}


.episodes .title-two {
  letter-spacing: 2.56px;
}


.block {
  background-color: var(--cards-color);
}

.subtitle {
  color: var(--color-accent);
}



.episodes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.episodes__episode {
  display: flex;
  /* position: relative; */
  align-items: center;
  justify-content: space-around;

  width: 1300px;
  height: 545px;
  margin-top: 60px;

  border-radius: 32px;

  background-color: var(--cards-color);
}

.image {
  /* position: absolute;
  left: 40px;
  bottom: 40px;
  top: 40px; */
}

.episode__content {
  width: 778px;
  height: 465px;
  /* display: flex;
  flex-direction: column; */
  /* position: absolute;
  right: 40px; */
  
}

.category {
  display: inline-block;
  width: auto;
  height: auto;
  background-color: var(--color-main);
  border-radius: 6px;
  line-height: 27px;
  padding: 0 16px;

}

h2 {
  font-size: 64px;
}

.text-description {
  color: rgba(255, 255, 255, 0.70);
}




/* .episode {
  display: flex;

  background-color: var(--cards-color);
  border-radius: 32px;
  margin: 100px;
}

.episode__episode_photo {
  width: 389px;
  height: 465px;
} */



.card {
  background-color: var(--cards-color);
}


button {
  cursor: pointer;
  font-size: 18px;

  height: 51px;

  border-radius: 6px;
  border: none;

  color: var(--color-text);
  background-color: var(--color-accent);

  padding: 1em 1em;
  letter-spacing: 0.075em;
}



nav ul li a {
  color: var(--color-text);
  text-decoration: none;
}

.top-menu ul {
  display: flex;
  list-style: none;
  column-gap: 2.5em;

}

nav ul li a:hover {
  color: var(--color-accent);

  transform: scale(2);

}

.first-block {
  display: flex;
}

.first-block__title {
  padding: 300px 0 0 0;

  font-size: 30px;
}

.first-block__content {
  display: flex;
  flex-direction: column;
  padding: 0 60px;
  /* margin: 0 300px 0 0; */

  flex-grow: 1;
  align-content: center;
}