/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap'); */

@font-face {
  font-family: "DM Sans";
  src: url('../src/files/fonts/DMSans_18pt-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../src/files/fonts/DMSans_18pt-Bold.ttf');
  font-weight: 700;
}

:root {
  --color-text: #FFF;
  --color-main: #191919;
  --color-accent: #118DA8;
  --cards-color: #000;
  --color-subtext: rgba(255, 255, 255, 0.70);
}

* {
  /* размер учитывается только по width и height,
  не учитываются padding и margin*/
  box-sizing: border-box;
  
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 43px;
  margin-bottom: 83px;
}

body {
  width: 1440px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-main);

  padding: 0 70px;
  margin: 0 auto;
}

.title {
  font-size: 70px;
  letter-spacing: 3.2px;
}

.listen-on {
  font-size: 15px;
  margin-top: 90px;
  margin-bottom: 15px;
  line-height: 24px;
}

.icon {
  margin-right: 17px;
}


/* -------------------------- */

.latest-episodes-head {
  display: flex;
  width: 1300px;
  height: 99px;
  flex-shrink: 0;
  justify-content: space-between;

  margin: 100px 0 40px;
}


/* -------------------------- */
.episodes {
  width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
}

.episodes__episode {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 1300px;
  height: 545px;
  /* margin-top: 60px; */

  border-radius: 32px;
  background-color: var(--cards-color);
}

.episodes__episode:nth-child(n + 2) {
  height: 512px;
}

.episodes__episode:nth-child(n + 2) > .episode__content {
  height: 432px;
}

.episodes__image {
  margin-left: 10px;
}

.episode__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 778px;
  height: 465px;
  /* height: auto; */
}


.category {
  background-color: var(--color-main);
  border-radius: 6px;
  line-height: 27px;
  padding: 0 16px;
}

.small-accent {
  margin-top: 40px;
  color: var(--color-accent);
}

.title-two {
  font-size: 64px;
  line-height: 70px;
}

.episodes .title-two {
  margin-bottom: 18px;
  letter-spacing: 2.56px;
}

.text-description {
  margin-bottom: 18px;
  font-size: 22px;
  color: var(--color-subtext);

  line-height: 33px;
}

.block {
  background-color: var(--cards-color);
}





/* -------------------------- */
.person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 160px 0;
}

.person__content {
  width: 590px;
  height: 448px;
}

.circle {
  display: grid;
  place-content: center;

  width: 112px;
  height: 112px;
  border-radius: 400px;
  background-color: var(--color-accent);
}

.arrow {
  background: transparent;

}

.person__name {
  font-size: 65px;
  line-height: 79px;
  letter-spacing: 2.9px;

  margin-bottom: 25px;
}



/* -------------------------- */
.subscribe {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 1300px;
  height: 387px;

  background-color: var(--cards-color);
  border-radius: 32px;

}

.subscribe__text {
  margin-bottom: 125px;
}

.subscribe__form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.subscribe__title {
  font-size: 72px;
  letter-spacing: 2.9px;
  line-height: 79px;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;

  padding: 0;

  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  width: 522px;
  height: 82px;

  color: var(--color-subtext);
  font-size: 24px;
  line-height: 29px;
  text-indent: 20px;

  background-color: var(--color-main);
  border: 0;
  border-radius: 6px;
}




/* -------------------------- */
.rating-cards {
  margin: 100px 0;
  display: flex;
  flex-wrap: wrap;

  gap: 15px;

  margin-top: 150px;
}

.rating-cards__card {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;

  gap: 20px;

  width: 423px;
  height: 321px;

  padding: 50px;

  border-radius: 32px;
  background-color: var(--cards-color);
}

.rating-cards__card:nth-child(n + 4) {
  height: 364px;
}


.comment {
  font-size: 36px;
  line-height: 43px;
}

.author {
  font-size: 24px;
  line-height: 29px;
  color: var(--color-subtext);
}

/* #container {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  gap: 50px;
  width: 100%;
  padding: 20px;
}

#container > div {
  padding: 15px;
} */




/* -------------------------- */
footer {
  height: 350px;
  margin-top: 200px;
}

.footer__container {
  display: flex;
  /* justify-content: space-between; */

  width: 1300px;
  height: 222px;

  gap: 15px;

}

.logo-n-social {
  display: flex;
  flex-direction: column;

  width: 450px;

  gap: 20px;
}

.social-media {
  display: flex;
  align-items: flex-start;
  gap: 10px;

}

.menu > .bottom-list {
  display: flex;
  flex-direction: column;

  width: 180px;
  gap: 10px;

  line-height: 27px;
}


.audio-platforms {
  display: flex;
  align-items: flex-start;
  gap: 17px;
}



/* -------------------------- */

h2 {
  font-size: 64px;
}

ul {
  list-style-type: none;
}

.card {
  background-color: var(--cards-color);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-accent);
}

button {
  cursor: pointer;
  font-size: 18px;

  height: 51px;

  border-radius: 6px;
  border: none;

  color: var(--color-text);
  background-color: var(--color-accent);

  padding: 1em 1em;
  letter-spacing: 0.075em;
}




.top-menu ul {
  display: flex;
  column-gap: 2.5em;

}

.first-block {
  display: flex;
}

.image-wrapper {
  position: relative;
}

.shur_overlay {
  position: absolute;
}

.shur1_overlay_offset {
  left: -27px;
  top: -27px;
}

.shur2_overlay_offset {
  left: 0;
  top: 560px;
}

.shur3_overlay_offset {
  left: -135px;
  top: 300px;
}

.first-block__title {
  padding: 300px 0 0 0;
  font-size: 30px;
}

.first-block__content {
  display: flex;
  flex-direction: column;
  padding: 0 60px;
  width: 530px;

  flex-grow: 1;
  align-content: center;
}