@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

body {
  font-family: "DM Sans";
  color: #FFF;
  background-color: #191919;
}

.block {
  background-color: #000;
}

.subtitle {
  color: #118DA8;
}

/* .category {
  background-color: #191919;
} */


.card {
  background-color: #000;
}
